{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block title %}Add Player{% endblock %}
{% block pagetitle %}Moderator Actions{% endblock %}
{% block pagesubtitle %}Add Player{% endblock %}

{% block subcontent %}
{% call card('Add Player to ' + game.name) %}
  <form action="{{ url('add_player') }}" method="post">
    {{ csrf_input }}
    <div class="ui-form-group">
      <label class="ui-label">Email:</label>
      <input class="ui-input" type="email" name="email">
    </div>
    <div class="ui-form-group">
      <label class="ui-label">Location:</label>
      <select class="custom-select" name="signup_location">
        {% for location in signup_locations %}
          <option value="{{ location.id }}">{{ location.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="ui-form-group pt-2 text-center">
      <input type="submit" value="Signup" class="btn btn-primary">
    </div>
  </form>
{% endcall %}
{% endblock %}
