{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block title %}Mod Dashboard - Generate Supply Codes{% endblock %}
{% block pagetitle %}{{ game.name }} - Moderator Actions{% endblock %}
{% block pagesubtitle %}Generate Supply Codes{% endblock %}

{% block subcontent %}

<div class="ui-grid s-dashboard__generate-supply">
  <div class="ui-grid align-content-start">
    {% call card('Generate Supply Codes', id="card--generate-supply") %}
      <form method="post">
        {{ csrf_input }}
        <div class="ui-form-group pt-2 text-center">
          <input type="submit" value="Generate Supply Codes" class="btn btn-primary">
        </div>
      </form>
    {% endcall %}
  </div>
  
  {% call card('Unclaimed Codes') %}
  <table class="table table-striped">
    {% for code in supply_codes %}
      {% if code.claimed_by is none %}
        <tr>
          <td>{{ code.code }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
  {% endcall %}
</div>

{% endblock %}
