{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block title %}Mod Dashboard &mdash; Manage Game{% endblock %}

{% block pagetitle %}{{ game.name }} &mdash; Moderator Actions{% endblock %}
{% block pagesubtitle %}Manage Game{% endblock %}

{% block subcontent %}

<div class="ui-grid s-dashboard__player-list">
  <div class="ui-grid align-content-start">
    {% call card('Start Game') %}
      <p>This will send all game start emails to players, set OZs as zombies, and start the game.</p>
      <div class="ui-form-group text-center">
        <button class="btn btn-primary"{% if game.is_running %}disabled title="The game has already started."{% endif %}>Start Game</button>
      </div>
    {% endcall %}
    {% call card('Kill All Unsupplied Humans') %}
      <p>This will turn all human players who did not attain 5 or more points during the week into zombies.</p>
      <div class="ui-form-group text-center">
        <button class="btn btn-danger">Kill All Unsupplied</button>
      </div>
    {% endcall %}
  </div>
  <div class="ui-grid">
    {% call card('All Emails (Use BCC)') %}
      <textarea class="ui-input" rows="5">{{ all_emails|join(', ') }}</textarea>
    {% endcall %}
    {% call card('Human Emails (Use BCC)') %}
      <textarea class="ui-input" rows="5">{{ human_emails|join(', ') }}</textarea>
    {% endcall %}
    {% call card('Zombie Emails (Use BCC)') %}
      <textarea class="ui-input" rows="5">{{ zombie_emails|join(', ') }}</textarea>
    {% endcall %}
  </div>
</div>

{% endblock %}
