{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block title %}Mod Dashboard - Manage OZ Pool{% endblock %}

{% block pagetitle %}{{ game.name }} - Moderator Actions{% endblock %}
{% block pagesubtitle %}Manage OZ Pool{% endblock %}

{% block subcontent %}
<div class="ui-grid">
  {% call card('Choose OZs') %}
  {% endcall %}
  {% call card('List OZs') %}
    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>Email</th>
      </thead>
    </table>
  {% endcall %}
</div>
{% endblock %}
