{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block title %}Mod Dashboard - Manage Players{% endblock %}

{% block pagetitle %}{{ game.name }} - Moderator Actions{% endblock %}
{% block pagesubtitle %}Manage Players{% endblock %}

{% block subcontent %}

<div class="ui-grid s-dashboard__player-list">
  <div class="ui-grid align-content-start">
    {% call card('Add Player to ' + game.name, id='card--add-player') %}
      <form method="post">
        {{ csrf_input }}
        <div class="ui-form-group">
          <label class="ui-label">Email:</label>
          <input class="ui-input" type="email" name="email">
        </div>
        <div class="ui-form-group">
          <label class="ui-label">Location:</label>
          <select class="custom-select" name="signup_location">
            {% for location in signup_locations %}
              <option value="{{ location.id }}">{{ location.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="ui-form-group pt-2 text-center">
          <input type="submit" value="Signup" class="btn btn-primary">
        </div>
      </form>
    {% endcall %}
    {% call card('Signup Locations') %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Signup Location</th>
        <th scope="col">Emails sent</th>
        <th scope="col">Emails acted on</th>
      </tr>
      </thead>
      <tbody>
      {% for location in signup_locations %}
      <tr>
        <td scope="col">{{ location.name }}</td>
        <td scope="col">{{ location.signupinvite_set.count() }}</td>
        <td scope="col">{{ location.signupinvite_set.filter(used_at__isnull=False).count() }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endcall %}
  </div>

  {% call card('Player List', class='align-self-start') %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
        <tr>
          <td scope="col">{{ player.user.get_full_name() }}</td>
          <td scope="col">{{ player.user.email }}</td>
          <td scope="col">{{ player.role if game.started_on or player.is_spectator else 'Player' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endcall %}
</div>

{% endblock %}
