{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block title %}Mod Dashboard &mdash; Manage Players{% endblock %}

{% block pagetitle %}{{ game }} &mdash; Moderator Actions{% endblock %}
{% block pagesubtitle %}Manage Players{% endblock %}

{% block subcontent %}
<div class="ui-grid">
  <div class="ui-grid s-dashboard__signup-players">
    {% call card("Add Player to " + game.name, id="card--add-player") %}
      <form method="post" novalidate>
        {{ csrf_input }}

        {% for field in mod_signup_player_form %}
          <div class="ui-form-group">
            <label class="ui-label" for="{{ field.name }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
              <span class="ui-form__text ui-form__text--info">{{ field.help_text }}</span>
            {% endif %}
            {% for error in field.errors %}
              <span class="ui-form__text ui-form__text--error">{{ error }}</span>
            {% endfor %}
            </div>
          {% endfor %}
        
        <div class="ui-form-group pt text-center">
          <input type="submit" value="Signup" class="btn btn-block btn-primary">
        </div>
      </form>
    {% endcall %}
    {% call card("Signup Locations") %}
    <form action="{{ url('add_signup') }}" method="post" novalidate>
      {{ csrf_input }}
      <table><thead><tr><td scope="col">Add location: </td>
       {% for field in signup_loc_form %}
        <td scope="col">
          {{ field }}
        </td>
      {% endfor %}
       <td scope="col"><div class="ui-form-group">
        <input class="btn btn-block btn-primary" type="submit" value="Add">
      </div></td>
      </table></thead></tr>
    </form>
    
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Signup Location</th>
        <th scope="col">Emails sent</th>
        <th scope="col">Emails acted on</th>
      </tr>
      </thead>
      <tbody>
      {% for location in signup_locations %}
      <tr>
        <td scope="col">{{ location.name }}</td>
        <td scope="col">{{ location.signupinvite_set.values_list('email', flat=True).distinct().count() }}</td>
        <td scope="col">{{ location.signupinvite_set.filter(used_at__isnull=False).count() }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endcall %}
  </div>

  {% call card("Player List", class="align-self-start") %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Code</th>
          <th scope="col">Role</th>
          <th scope="col">Shop Score</th>
          <th scope="col">True Score</th>
        </tr>
      </thead>
      <tbody>
        {% for p in participants %}
        <tr>
          <td scope="col">{% if p.is_moderator and p.character_name %}{{ p.character_name }}{% else %}{{ p.user.get_full_name() }}{% endif %}</td>
          <td scope="col">{{ p.user.email }}</td>
          <td scope="col">{% if p.is_player %}{{ p.code }}{% else %}N/A{% endif %}</td>
          <td scope="col">{% if p.is_player %}{{ p.role }}{% else %}{{ p.type }}{% endif %}</td>
          {%- if p.is_player %}<td scope="col">{{ p.shop_score() }}</td><td scope="col">{{ p.score() }}</td>{% else %}<td scope="col">N/A</td><td scope="col">N/A</td>{% endif -%}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endcall %}
</div>
{% endblock %}
