{% from "components/card.html" import card %}
{% extends "base.html" %}

{% block content %}

<main class="ui-layout">
  <section class="container ui-layout__item">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        {% call card("Seems like we hit a snag.") %}
          <p>We're having some troubles getting what you were looking for. Sorry about that! :( We'll be fixing this as soon as possible.</p>
          <p>For now, how about you return to the main site?</p>
          <div class="ui-form-group">
            <a class="btn btn-block btn-primary" href="{{ url('index') }}">Return to Site</a>
          </div>
        {% endcall %}
      </div>
    </div>
  </section>
</main>

{% endblock %}
