{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<header id="landing-nav">
  <nav>
    <div class="sitelogo">{{ svg('site-logo-dark') }}</div>
    {% if user.is_authenticated %}
    <div class="actions">
      <a class="btn btn-outline-primary" href="{{ url('logout') }}">Logout</a>
      <a class="btn btn-primary" href="{{ url('dashboard') }}">Go to dashboard</a>
    {% else %}
      <a class="btn btn-primary" href="{{ url('login') }}">Login</a>
    {% endif %}
    </div>
  </nav>
</header>
<main class="ui-layout" id="landing">
  <section class="ui-layout__item">
    <div class="ui-section">
      {{ svg('club-logo') }}
      <div class="ui-section__content">
        <h1>The game begins in:</h1>
        <div class="js-countdown" id="countdown">
          <div>
            <span class="js-countdown__num" id="days"></span>
            <p class="js-countdown__text">Days</p>
          </div>
          <div>
            <span class="js-countdown__num" id="hours"></span>
            <p class="js-countdown__text">Hours</p>
          </div>
          <div>
            <span class="js-countdown__num" id="minutes"></span>
            <p class="js-countdown__text">Minutes</p>
          </div>
          <div>
            <span class="js-countdown__num" id="seconds"></span>
            <p class="js-countdown__text">Seconds</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/countdown.js"></script>
{% endblock %}
