{% extends "base.html" %}

{% block title %}UW HvZ &mdash; Game Archives{% endblock %}

{% block styles %}
  {% compress css %}
    <link href="{% sass_src 'stylesheets/dashboard.scss' %}" rel="stylesheet" type="text/css">
  {% endcompress %}
{% endblock %}

{% block content %}
<header id="landing-nav">
  <a href="/" class="sitelogo">{{ svg('site-logo-dark') }}</a>
  <nav>
    <ul>
      <li><a class="text-light" href="/#signup-schedule">Signup Schedule</a></li>
      <li><a class="text-light" href="{{ static('files/hvz-rules-v1.4.pdf') }}">Rules</a></li>
      <li><a class="text-light" href="{{ static('files/Weeklong 101 & FAQs v1.0') }}">New Player Guide</a></li>
      <li><a class="text-light" href="{{ url('missions') }}">Common Mission Types</a></li>
      <li><a class="text-light" href="{{ url('previous_games') }}">Game Archives</a></li>
    </ul>
  </nav>
  <div class="actions">
  {% if user.is_authenticated %}
    <a class="btn btn-outline-primary" href="{{ url('logout') }}">Logout</a>
    <a class="btn btn-primary" href="{{ url('player_info') }}">Go to dashboard</a>
  {% else %}
    <a class="btn btn-primary" href="{{ url('login') }}">Login</a>
  {% endif %}
  </div>
</header>

<main class="ui-layout" id=landing">
<aside class="ui-sidebar" id="side-nav">
  <nav class="ui-menu">
    <ul class="ui-menu__section">
    {% for prev_game in prev_games %}
      <li><div class="ui-form-group pt-2">
        <input class="btn btn-block btn-primary" type="submit" value="{{prev_game.name}}" name="{{ prev_game.name }}">
      </div></li>
      {% endfor %}
    </ul>
  </nav>
</aside>

<br>
<br>
<br>
<br>
<h2>{{ game_rendering }} Game Zombie Tree</h2>
<div id="zombie-tree"></div>
</main>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js" integrity="sha256-JuQeAGbk9rG/EoRMixuy5X8syzICcvB0dj3KindZkY0=" crossorigin="anonymous"></script>
  <script>
    var container = document.getElementById('zombie-tree');

    var data = {
      nodes: {{ nodes|safe }},
      edges: {{ edges|safe }},
    };

    var options = {
      nodes: {
        shape: 'ellipse',
        size: 20,
        font: {
          size: 16,
          color: '#000',
        },
        borderWidth: 1
      },
      edges: {
        width: 1.5,
        arrows: {
          to: {
            enabled: true,
            scaleFactor: 0.75,
            type: 'arrow'
          },
        },
      },
      groups: {
        0: {
          color: {
            background: '#009ACD',
            border: '#009ACD'
          },
          font: {
            color: '#fff'
          }
        },
        1: {
          color: {
            background: '#82CFFD',
            border: '#82CFFD'
          },
          font: {
            color: '#fff'
          }
        },
        2: {
          color: {
            background: '#60AFFE',
            border: '#60AFFE'
          },
          font: {
            color: '#fff'
          }
        },
        3: {
          color: {
            background: '#436EEE',
            border: '#436EEE'
          },
        },
        4: {
          color: {
            background: '#9F79EE',
            border: '#9F79EE'
          },
        }
      }
    };
    network = new vis.Network(container, data, options);
  </script>
{% endblock %}