[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-enumfields = "*"
django-inline-svg = "*"
django-sass-processor = "*"
libsass = "*"
Django = "*"
argon2-cffi = "*"
jinja2 = "<=2.11.2"
django-user-agents = "*"
wagtail = "*"
gunicorn = "*"
django-compressor = "<=2.4"
django-querysetsequence = "*"
django-su = "*"
django-rest-auth = "*"

[dev-packages]

[requires]
python_version = "3.6"
