////
/// Font declarations for all fonts used throughout the site.
/// @group typography, @group utilities
////

///
/// Font declaration mixin.
/// @param $name - name of the font as it will be declared.
/// @param $filename - name of the font file.
/// @param $file-weight [regular] - filename of the font weight. Defaults to 'regular'.
/// @param $font-weight [normal] - font weight. Defaults to normal.
/// @param $font-style [normal] - font style. Defaults to normal.
@mixin font-face($filename, $name: $filename, $file-weight: 'regular', $font-weight: normal, $font-style: normal) {
  
  $dest: '../fonts/#{$filename}/#{$filename}';

  font-family: $name;
  src: url('#{$dest}-#{$file-weight}.eot');
  src: url('#{$dest}-#{$file-weight}.eot?#iefix') format('embedded-opentype'),
       url('#{$dest}-#{$file-weight}.woff') format('woff'),
       url('#{$dest}-#{$file-weight}.ttf') format('truetype');
  font-weight: #{$font-weight};
  font-style: #{$font-style};
}

///
/// Font declarations for the Roboto font.
/// @group fonts 

@font-face {
  @include font-face('roboto', $file-weight: 'light', $font-weight: 300);
}

@font-face {
  @include font-face('roboto', $file-weight: 'lightitalic', $font-weight: 300, $font-style: italic);
}

@font-face {
  @include font-face('roboto');
}

@font-face {
  @include font-face('roboto', $file-weight: 'italic', $font-style: italic);
}

@font-face {
  @include font-face('roboto', $file-weight: 'bold', $font-weight: 700);
}

@font-face {
  @include font-face('roboto', $file-weight: 'bolditalic', $font-weight: 700, $font-style: italic);
}


///
/// Font declarations for the Roboto Condensed font.
/// @group fonts

@font-face {
  @include font-face('roboto-condensed', 'Roboto Condensed', $file-weight: 'light', $font-weight: 300);
}

@font-face {
  @include font-face('roboto-condensed', 'Roboto Condensed', $file-weight: 'lightitalic', $font-weight: 300, $font-style: italic);
}

@font-face {
  @include font-face('roboto-condensed', 'Roboto Condensed');
}

@font-face {
  @include font-face('roboto-condensed', 'Roboto Condensed', $font-style: italic);
}

@font-face {
  @include font-face('roboto-condensed', 'Roboto Condensed', $file-weight: 'bold', $font-weight: 700);
}

@font-face {
  @include font-face('roboto-condensed', 'Roboto Condensed', $file-weight: 'bolditalic', $font-weight: 700);
}


///
/// Font declarations for the Komu font.
/// @group fonts

@font-face {
  @include font-face('komu');
}
