////
/// All default styles for standard typography elements live here.
/// @group typography
////

p {
  margin: 0 0 1em 0;
}

h1,
h2 {
  margin: 0;
}

h1,
h2 {
  // Chrome fix for extra font bolding
  font-weight: $fw-regular;
}


///
/// Basic text elements

p {
  @include type-body;
}


///
/// Headings

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}


.th--light {
  h1 {
    color: color(ink, light);
  }

  h2 {
    color: color(ink);
  }
}


.th--dark {
  h1 {
    color: color(sky);
  }

  h2 {
    color: color(sky, light);
  }
}
