////
/// All default styles for standard typography elements live here.
/// @group typography
////

p,
h1,
h2 {
  margin: 0 0 1em 0;
}

h1,
h2 {
  // Chrome fix for extra font bolding
  font-weight: $fw-regular;
}


///
/// Basic text elements

p {
  // @include type-body;

  &:first-of-type {
    margin-top: 0;
  }
}


a {
  padding-bottom: 1px;
  display: inline;
  border-bottom: 1px solid;
  font-weight: $fw-regular;
  text-decoration: none;
  transition: $default-transition;

  @media (min-width: breakpoint()) {
    border-bottom-width: 2px;
  }

  &:active,
  &:focus,
  &:hover {
    transition: $default-transition;
  }
}


///
/// Headings

h1 {
  @include type-title;

  @media (min-width: breakpoint('sm')) and (min-height: breakpoint('xxs')) {
    display: none;
  }
}

h2 {
  @include type-heading;

  font-family: ff('title');
}

.type-headline {
  @media (min-width: breakpoint('xl')) and (min-height: breakpoint('xxs')) {
    display: block;
  }

  &__top {
    position: relative;
    left: 0;

    @media (min-width: breakpoint('xl')) and (min-height: breakpoint('xxs')) {
      left: -2em;
    }
  }
}

h3 {
  @include type-title;
  
  margin: 0 auto 1em;
  font-family: ff('body');
  line-height: 1.25;
}


.th--light {
  h1 {
    color: color('ink', 'light');
  }

  h2 {
    color: color('ink');
  }
}


.th--dark {
  h1 {
    color: color('sky');
  }

  h2 {
    color: color('sky', 'light');
  }
}
