////
/// All button styles across the website live here.
/// @group components
////

.btn {
  padding: 0.5em 1em;
  margin: 0 1em;
  font: 1.25rem/1 ff('heading');
  background: color('sky');
  border-radius: radius();
  color: color('ink');
  text-decoration: none;
  text-transform: uppercase;
}
