.ui-button {
    border-radius: 3px;
    background-color: #d8d8d8;
    border: none;
    box-shadow: 0 0 2px 0 rgba(64, 64, 64, 0.5);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
