////
/// Default card styles live here.
/// @group components, @layout default
////

.ui-card {
  padding: spacing(looser);
  border-radius: radius();
}

.ui-card__header {
  margin-bottom: spacing();
}

.ui-card__title {
  @include type-heading;

  font-family: ff('heading');
}

.ui-card__content {
  @include type-body;
}

.ui-card--display {
  .ui-card__header {
    margin-bottom: spacing(tighter);

    &::after {
      content: '';
      width: 1.5rem;
      height: 2px;
      margin: spacing(tightest) 0 spacing(tight) 0;
      display: block;
      background: color(sky);
    }
  }

  .ui-card__title {
    @include type-smallcaps;

    font-family: ff('body');
    text-align: left;
  }

  .ui-card__content {
    @include type-display;

    font-weight: 400;
    text-align: left;
  }
}

.th--light {
  .ui-card {
    background-color: color(white);
    color: color(ink);
    box-shadow: shadow();
  }
}

.th--dark {
  .ui-card {
    background-color: color(ink, light);
    color: color(sky, light);
    box-shadow: shadow(dark);
  }
}
