.js-countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: lh(tighter);

  div {
    margin: 1em;
    display: block;
    text-align: center;
  }
}

.js-countdown__num {
  font-family: ff('title');
  font-size: 10rem;
}

.js-countdown__text {
  font-family: ff('title');
  font-size: 2rem;
}
