////
/// Default styling for form text inputs live here.
/// @group components
////


.ui-form-group {
  margin-bottom: spacing(tighter);
}

.ui-input {
  width: 100%;
  min-height: 2rem;
  padding: spacing(tighter);
  margin-bottom: spacing(tightest);
  border-radius: radius();
  font-size: 1rem;
  border: 0;
}


.th--light {
  .ui-input {
    background: color(gray);
    color: color(ink);
  }
}

.th--dark {
  .ui-input {
    background: color(ink);
    color: color(sky);
  }
}
