.ui-form-group {
  margin-top: 8px;
  text-transform: uppercase;

  &:first-of-type {
    margin-top: 0px;
  }
}

.ui-label {
  color: color(sky, dark);
  font-size: 14px;
  font-weight: 500;
}

.ui-input {
  width: 100%;
  min-height: 32px;
  padding: spacing(tighter);
  margin-bottom: spacing(tightest);
  border-radius: radius();
  font-size: 16px;
  border: 0;
}


.th--light {
  .ui-input {
    background: color(gray);
    color: color(ink);
  }
}

.th--dark {
  .ui-input {
    background: color(ink);
    color: color(sky);
  }
}
