#landing-nav {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: z-index(header);

  nav {
    width: 100%;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      display: inline;

      a {
        display: inline-block;
        font-size: 1.25rem;
        line-height: 1;
        font-family: ff('heading');
      }
    }
  }

  .actions {
    margin-right: 1rem;
    display: flex;

    .btn {
      margin: 0 spacing(tighter);
    }
  }
}

