////
///
////

.ui-select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: spacing(loose);
  background-color: color(gray);
  border: 0;
}

.ui-select__label {

}
