.ui-sidebar {
  width: 11.5625rem;
  height: 100%;
  position: fixed;
  top: 5rem;
  border-right: 1px solid rgba(color('ink'), 0.2);
}

.ui-sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
