////
/// Dashboard sidebar styles live here.
/// @group components, @group navigation, @layout dashboard
////

.ui-sidebar {
  width: layout-element-size(width, sidebar);
  height: 100%;
  position: fixed;
  top: layout-element-size(height, titlebar);
  border-right: 1px solid;
}


.th--light {
  .ui-sidebar {
    border-right-color: color(gray);
  }
}

.th--dark {
  .ui-sidebar {
    border-right-color: color(ink, light);
  }
}
