////
/// Sitewide "titlebar" styles live here.
/// @group components, @layout default
////


.ui-titlebar {
  width: 100%;
  height: layout-element-size(height, titlebar);
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-between;
  z-index: z-index(header);
  background: color(ink);
  box-shadow: shadow(dark, titlebar);
}

.ui-titlebar--mobile {
  width: 100%;
  position: fixed;
  top: 0;
  background: color(ink);
  box-shadow: shadow(dark, titlebar);
  z-index: z-index(header);
}

.ui-titlebar__section {
  width: auto;
  height: 100%;
  padding: 0 spacing(loosest);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  a {
    text-decoration: none;
  }
}

#titlebar-title {
  justify-content: flex-start;
  flex: 1 1 auto;
  border-right: 1px solid;

  h1 {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.25em;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1;
    font-family: ff('heading');
  }
}

.ui-titlebar__link {
  color: color(sky);
  border: 0;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    color: color(sky, lighter);
    text-decoration: underline;
  }
}

#titlebar-logo {
  width: layout-element-size(width, sidebar);
  border-right: 1px solid;
}

.th--light,
.th--dark {
  .ui-titlebar {
    h1, h2 {
      color: color(white);
    }
  }

  .ui-titlebar__section,
  #titlebar-title,
  #titlebar-logo {
    border-color: rgba(color(white), 0.15);
  }
}
