{% extends "base.html" %}
{% load static %} {% load sass_tags %} {% load svg %}

{% block title %}Index{% endblock %}

{% block content %}
<nav class="ui-context-bar">
  <div class="ui-context-bar__panel">
    <a href="{% url 'dashboard' %}">
      {% svg 'site-logo-dark' %} {% svg 'site-logo-light' %}
    </a>
  </div>
  <div class="ui-context-bar__panel" id="contextbar-title">
    <div class="ui-context-bar__title">
      <h1>{% block pagetitle %}{% endblock %}</h1>
      <h2>{% block pagesubtitle %}{% endblock %}</h2>
    </div>
  </div>
  <div class="ui-context-bar__panel">
    {% if user.is_authenticated %}
    <a class="ui-context-bar__link" href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a class="ui-context-bar__link" href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>
</nav>

<nav class="ui-sidebar">
  <ul class="ui-sidebar-nav">
    <li>
      <a href="{% url 'dashboard' %}">Dashboard</a>
    </li>
  </ul>
  {% if user.is_moderator %}
  <ul class="ui-sidebar-nav">
    <li>
      <a href="{% url 'player list' %}">Player List</a>
    </li>
    <li>
      <a href="{% url 'add player' %}">Add Player</a>
    </li>
    <li>
      <a href="{% url 'signup locations' %}">Signup Locations</a>
    </li>
    <li>
      <a href="#">Manage OZ Pool</a>
    </li>
    <li>
      <a href="#">Generate Supply Codes</a>
    </li>
  </ul>
  {% endif %}

  {% if user.is_staff %}
  <ul class="ui-sidebar-nav">
    <li>
      <a href="/admin">Django Admin</a>
    </li>
  </ul>
  {% endif %}
</nav>

<main class="ui-layout" id="main">
  <section class="ui-layout__item">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert" data-dismiss="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
    {% block subcontent %}{% endblock %}
  </section>
</main>
{% endblock %}
