{% extends "base.html" %}
{% load sass_tags %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
  <link href="{% sass_src 'stylesheets/style.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block navigation %}
<ul>
  {% if user.is_authenticated %}
    <li><a href="{% url 'logout' %}">Logout</a></li>
    <li><a>Welcome, {% firstof user.get_short_name user.get_username %}</a></li>
  {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
  {% endif %}
</ul>
{% endblock %}

{% block content %}
{% endblock %}
