{% from "components/card.html" import card %}
{% extends "mobile/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block subcontent %}

<div class="ui-grid">
  {% call card("System Requirements") %}
    <p>Currently, this website is fully supported by <b>Chrome</b>, <b>Firefox</b>, and <b>Microsoft Edge</b>. If you are not using one of these browsers, you may experience some technical issues.</p>
  {% endcall %}
  {% call card('') %}
    <a class="twitter-timeline" height="500" href="https://twitter.com/HVZAlertSystem?ref_src=twsrc%5Etfw">Tweets by HVZAlertSystem</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  {% endcall %}
</div>

{% endblock %}
