{% macro moderator_sidebar(request, game) -%}
  <nav class="ui-menu">
    <a class="ui-menu__header-link" href="#mod-actions" data-target="#mod-actions" data-toggle="collapse" aria-expanded="false">
      <header class="ui-menu__header">
        <h1 class="ui-menu__title">Moderator Actions</h1>
        <div class="ui-menu__icon">
          <span aria-hidden="true" class="oi oi-plus"></span>
          <span aria-hidden="true" class="oi oi-minus"></span>
        </div>
      </header>
    </a>
    <ul class="ui-menu__section collapse{% if "/moderator" in request.path %} show{% endif %}" data-parent="#side-nav" id="mod-actions">
      <li><a href="{{ url('manage_game') }}">Manage Game</a></li>
      <li><a href="{{ url('manage_players') }}">Manage Players</a></li>
      {% if game.is_signups %}
        <li><a href="{{ url('manage_oz') }}">Manage OZ Pool</a></li>
      {% endif %}
      {% if game.is_running %}
        <li><a href="{{ url('generate_supply_codes') }}">Create Supply Codes</a></li>
        <li><a href="{{ url('manage_shop') }}">Manage Shop</a></li>
      {% endif %}
      {% if participant.user.is_superuser %}
        <li><a href="{{ url('manage_staff') }}">Mods/Volunteers/Legacy Status</a></li>
      {% endif %}
      <li><a href="/cms">Write News Posts (Wagtail)</a></li>
    </ul>
  </nav>
{%- endmacro %}
