{% macro player_sidebar(request, participant) -%}
  <nav class="ui-menu">
    <a class="ui-menu__header-link" href="#player-actions" data-target="#player-actions" data-toggle="collapse" aria-expanded="{% if "/moderator" not in request.path %}true{% else %}false{% endif %}">
      <header class="ui-menu__header">
        <h1 class="ui-menu__title">Player Actions</h1>
        <div class="ui-menu__icon">
          <span aria-hidden="true" class="oi oi-plus"></span>
          <span aria-hidden="true" class="oi oi-minus"></span>
        </div>
      </header>
    </a>
    <ul class="ui-menu__section collapse{% if "/moderator" not in request.path %} show{% endif %}" data-parent="#side-nav" id="player-actions">
      {%- if participant.is_player %}
        <li><a href="{{ url('player_info') }}">Player Dashboard</a></li>
      {% endif -%}
      <li><a href="/dashboard/game-info/">Game Info & News</a></li>
      <li><a href="{{ url('player_list') }}">Player List</a></li>
      {%- if participant.is_player or request.user.is_staff%}
        <li><a href="{{ url('message_players') }}">Message Players</a></li>
      {% endif -%}
      {%- if request.user.is_staff or not (participant.is_player and participant.is_human) %}
        <li><a href="{{ url('zombie_tree') }}">Zombie Tree</a></li>
      {% endif -%}
      <li><a href="{{ static('files/hvz-rules-v1.4.pdf') }}">Rules</a></li>
    </ul>
  </nav>
{%- endmacro %}
