{% from "components/card.html" import card %}
{% if is_mobile %}
  {% extends "mobile/base.html" %}
{% else %}
  {% extends "dashboard/base.html" %}
{% endif %}

{% block title %}
  {% if is_mobile %}
    UW HvZ &mdash; Game Info
  {% else %}
    Dashboard &mdash; Game Info
  {% endif %}
{% endblock %}

{% block pagetitle %}
  {% if game.is_running %}{{ game }} &mdash; {% endif %}Game Information
{% endblock %}
{% block pagesubtitle %}View Announcements & Missions{% endblock %}

{% block subcontent %}

{% if player is none %}
  {% call card("You have not signed up for the game.") %}
    <p>Please finish signing up for the game, or contact the moderators to fix this issue.</p>
  {% endcall %}
{% else %}
  {% if is_mobile %}<div class="ui-grid">{% else %}<div class="ui-grid s-dashboard__game-info">{% endif %}
    {% call card("Missions") %}
      {% if missions %}
        <ul>
          {% for mission in missions %}
            {% if mission.specific.is_viewable_by(player) %}
              <li><a href="{{ pageurl(mission) }}">{% if player.is_spectator or player.user.is_staff %}(For {{ mission.specific.get_viewable_by_display() }}) {% endif %}{{ mission.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <p>No missions have been made yet.</p>
      {% endif %}
    {% endcall %}

    {% call card("Announcements") %}
      {% if announcements %}
        <ul>
          {% for announcement in announcements %}
            {% if announcement.specific.is_viewable_by(player) %}
              <li><a href="{{ pageurl(announcement) }}">{% if player.is_spectator or player.user.is_staff %}(For {{ announcement.specific.get_viewable_by_display() }}) {% endif %}{{ announcement.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <p>No announcements have been made yet.</p>
      {% endif %}
    {% endcall %}
  </div>
{% endif %}
{% endblock %}
