{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block pagetitle %}{{ game.name }} - Game Information{% endblock %}
{% block pagesubtitle %}View Announcements & Missions{% endblock %}

{% block subcontent %}

<div class="ui-grid s-dashboard__game-info">
  {% call card('Missions') %}
    {% if missions %}
      <ul>
        {% for mission in missions %}
        {% if player.is_human and mission.specific.viewable_by_humans %}
        <li><a href="{{ pageurl(mission) }}">{{ mission.title }}</a></li>
        {% elif player.is_zombie and mission.specific.viewable_by_zombies %}
        <li><a href="{{ pageurl(mission) }}">{{ mission.title }}</a></li>
        {% elif player.is_spectator %}
        <li><a href="{{ pageurl(mission) }}">(For {{ mission.specific.viewable_by }}) {{ mission.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    {% else %}
    <p>No missions have been made yet.</p>
    {% endif %}
  {% endcall %}

  {% call card('Announcements') %}
    {% if announcements %}
      <ul>
        {% for announcement in announcements %}
          {% if player.is_human and announcement.specific.viewable_by_humans %}
            <li><a href="{{ pageurl(announcement) }}">{{ announcement.title }}</a></li>
          {% elif player.is_zombie and announcement.specific.viewable_by_zombies %}
            <li><a href="{{ pageurl(announcement) }}">{{ announcement.title }}</a></li>
          {% elif player.is_spectator %}
            <li><a href="{{ pageurl(announcement) }}">(For {{ announcement.specific.viewable_by }}) {{ announcement.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <p>No announcements have been made yet.</p>
    {% endif %}
  {% endcall %}
</div>

{% endblock %}
