{% from "components/card.html" import card %}
{% if is_mobile %}
  {% extends "mobile/base.html" %}
{% else %}
  {% extends "dashboard/base.html" %}
{% endif %}

{% block title %}
  {% if is_mobile %}
    UW HvZ &mdash; Mission
  {% else %}
    Dashboard - Mission
  {% endif %}
{% endblock %}

{% block pagetitle %}{{ game }} &mdash; Mission Post{% endblock %}
{% block pagesubtitle %}{{ page.title }}{% endblock %}

{% block subcontent %}
  {% call card(page.title, class='text-left') %}
    {% if page.is_viewable_by(participant) %}
      {{ page.body|richtext }}
    {% else %}
      <p>You are not allowed to view this page.</p>
    {% endif %}
    <p><a class="btn btn-primary" href="{{ page.get_parent().url }}">Return to Game Info</a></p>
  {% endcall %}
{% endblock %}
