{% extends "base.html" %}

{% block content %}
<header class="navbar navbar-expand-lg navbar-dark ui-title-bar--mobile">
  <a class="navbar-brand text-center" href="/">{{ svg('site-logo-dark') }}</a>
  <button onclick="$('#navbar').collapse('toggle')" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="justify-content-end collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item active"><a class="nav-link" href="{{ url('player_info') }}">Player Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="/dashboard/game-info/">Game Info</a></li>
        <li class="nav-item"><a class="nav-link" href="/dashboard/">Tweets</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ static('files/hvz-rules-v1.4.pdf') }}">Rules</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url('logout') }}">Logout</a></li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ url('login') }}">Login</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
<main class="ui-layout ui-layout--mobile">
  <section class="ui-layout__item ui-layout__item--mobile">
    {% block subcontent %}{% endblock %}
  </section>
</main>
{% endblock %}
