////
/// Site color palette lives here.
/// @group utilities
////

$color-palette-data: (
  gray: (
    'lighter': #fafbfb,
    'light': #dbdbdb,
    'base': #ebeff1,
    'dark': #c1c1c1
  ),

  red: (
    'light': #f6f0f1,
    'base': #ce2849,
    'dark': #773743
  ),

  yellow: (
    'light': #ffe3c1,
    'base': #ca9a63,
  ),

  green: (
    'base': #40ac79
  ),

  blue: (
     'light': #0f93ee,
     'base': #21293f,
     'dark': #161925,
     'darker': #13151f
  ),

  sky: (
    'lightest': #fdfdfd,
    'lighter': #f8f8f8,
    'light': #dbdbdb,
    'base': #bfbfbf,
    'dark': #737373
  ),

  ink: (
    'lightest': #8b9198,
    'lighter': #515867,
    'light': #273240,
    'base': #14181f
  ),

  black: (
    'base': #000
  ),

  white: (
    'base': #fff
  )
);


///
/// Returns a color given the associated name.
/// @param {String} $hue - the basic color family.
/// @param {String} $gradient [base] - the brightness of the hue. Defaults to base.
/// @return {Color} - the desired color.

@function color($hue, $gradient: 'base') {
  @return retrieve-map-value($color-palette-data, "color palette", $hue, $gradient);
}
