////
/// Standard HTML element styles live here.
/// @group foundation
////

html {
  font-family: ff();
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #fafbfb;
  color: color(ink);
  font: $fw-light 100%/#{lh('loose')} ff('body');
  word-wrap: break-word;
  vertical-align: baseline;
}

ul {
  display: block;
}

textarea {
  resize: none;
}
