////
/// All global variables live here.
/// @group utilities
////

///
/// Font declaration mixin for external fonts.
/// @param $name - name of the font and its corresponding file.
/// @param $file-weight [regular] - filename of the font weight. Defaults to 'regular'.
/// @param $font-weight [normal] - font weight. Defaults to normal.
/// @param $font-style [normal] - font style. Defaults to normal.
@mixin font-face($name, $url) {
    font-family: $name;
    src: url('#{$url}.eot');
    src: url('#{$url}.eot?#iefix') format('embedded-opentype'),
         url('#{$url}.woff') format('woff'),
         url('#{$url}.ttf') format('truetype');
}

///
/// transitions
$default-transition: all 285ms ease-in-out;
