{% extends "base.html" %}
{% from "components/sidebar.html" import sidebar %}

{% block styles %}
  {% compress css %}
    <link href="{% sass_src 'stylesheets/dashboard.scss' %}" rel="stylesheet" type="text/css">
  {% endcompress %}
  {% block additional_styles %}{% endblock %}
{% endblock %}

{% block content %}
<header class="ui-title-bar">
  <div class="ui-title-bar__logo">
    <a href="/">{{ svg('site-logo-dark') }}</a>
  </div>
  <div class="ui-title-bar__heading-group">
    <h1 class="ui-title-bar__title">{% block pagetitle %}{% endblock %}</h1>
    <h2 class="ui-title-bar__subtitle">{% block pagesubtitle %}{% endblock %}</h2>
  </div>
  <ul class="ui-title-bar__actions">
    <li><a class="ui-title-bar__link" href="{{ url('logout') }}">Logout</a></li>
  </ul>
</header>

{{ sidebar(request, game, participant, user) }}

<main class="ui-layout ui-layout--dashboard">
  <section class="container ui-layout__item">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
    {% block subcontent %}{% endblock %}
  </section>
</main>
{% endblock %}
