{% extends "base.html" %}

{% block styles %}
  {% compress css %}
    <link href="{% sass_src 'stylesheets/dashboard.scss' %}" rel="stylesheet" type="text/css">
  {% endcompress %}
  {% block additional_styles %}{% endblock %}
{% endblock %}

{% block content %}
<header class="ui-titlebar">
  <div class="ui-titlebar__section" id="titlebar-logo">
    <a href="/">{{ svg('site-logo-dark') }}</a>
  </div>
  <div class="ui-titlebar__section" id="titlebar-title">
    <div class="ui-titlebar__content">
      <h1 class="ui-titlebar__breadcrumbs">{% block pagetitle %}{% endblock %}</h1>
      <h2 class="ui-titlebar__page-title">{% block pagesubtitle %}{% endblock %}</h2>
    </div>
  </div>
  <div class="ui-titlebar__section">
    {% if user.is_authenticated %}
    <a class="ui-titlebar__link" href="{{ url('logout') }}">Logout</a>
    {% else %}
    <a class="ui-titlebar__link" href="{{ url('login') }}">Login</a>
    {% endif %}
  </div>
</header>

<aside class="ui-sidebar" id="side-nav">
  <nav class="ui-menu">
    <ul class="ui-menu__section">
      <li><a href="{{ url('dashboard') }}">Home</a></li>
    </ul>
  </nav>
  {% if game is defined and game is not none and game.is_running %}
    <nav class="ui-menu">
      <a class="ui-menu__header-link" href="#player-actions" data-target="#player-actions" data-toggle="collapse" aria-expanded="{% if "/moderator" not in request.path %}true{% else %}false{% endif %}">
        <header class="ui-menu__header">
          <h1 class="ui-menu__title">Player Actions</h1>
          <div class="ui-menu__icon">
            <span aria-hidden="true" class="oi oi-plus"></span>
            <span aria-hidden="true" class="oi oi-minus"></span>
          </div>
        </header>
      </a>
      <ul class="ui-menu__section collapse{% if "/moderator" not in request.path %} show{% endif %}" data-parent="#side-nav" id="player-actions">
        <li><a href="{{ url('player_info') }}">Player Dashboard</a></li>
        <li><a href="/dashboard/game-info/">Game Info & News</a></li>
        <li><a href="{{ url('player_list') }}">Player List</a></li>
        {% if (player is defined and player is not none and not player.is_human) or user.is_moderator %}
        <li><a href="{{ url('zombie_tree') }}">Zombie Tree</a></li>
        {% endif %}
        <li><a href="{{ static('files/hvz-rules-v1.3.pdf') }}">Rules</a></li>
      </ul>
    </nav>
  {% endif %}
  {% if user.is_volunteer and game.is_active %}
    <nav class="ui-menu">
      <a class="ui-menu__header-link" href="#volunteer-actions" data-target="#volunteer-actions" data-toggle="collapse" aria-expanded="{% if "/moderator" in request.path %}true{% else %}false{% endif %}">
        <header class="ui-menu__header">
          <h1 class="ui-menu__title">Volunteer Actions</h1>
          <div class="ui-menu__icon">
            <span aria-hidden="true" class="oi oi-plus"></span>
            <span aria-hidden="true" class="oi oi-minus"></span>
          </div>
        </header>
      </a>
      <ul class="ui-menu__section collapse" data-parent="#side-nav" id="volunteer-actions">
        <li><a href="{{ url('signup_players') }}">Signup Players</a></li>
      </ul>
    </nav>
  {% endif %}
  {% if user.is_moderator %}
    <nav class="ui-menu">
      <a class="ui-menu__header-link" href="#mod-actions" data-target="#mod-actions" data-toggle="collapse" aria-expanded="false">
        <header class="ui-menu__header">
          <h1 class="ui-menu__title">Moderator Actions</h1>
          <div class="ui-menu__icon">
            <span aria-hidden="true" class="oi oi-plus"></span>
            <span aria-hidden="true" class="oi oi-minus"></span>
          </div>
        </header>
      </a>
      <ul class="ui-menu__section collapse{% if "/moderator" in request.path %} show{% endif %}" data-parent="#side-nav" id="mod-actions">
        <li><a href="{{ url('manage_game') }}">Manage Game</a></li>
        <li><a href="{{ url('manage_players') }}">Manage Players</a></li>
        {% if game.is_active %}
          <li><a href="{{ url('manage_oz') }}">Manage OZ Pool</a></li>
        {% endif %}
        <li><a href="{{ url('generate_supply_codes') }}">Create Supply Codes</a></li>
        <li><a href="/cms">Write News Posts (Wagtail)</a></li>
      </ul>
    </nav>
  {% endif %}
  {% if user.is_staff %}
    <nav class="ui-menu">
      <a class="ui-menu__header-link" href="#webmaster-actions" data-target="#webmaster-actions" data-toggle="collapse" aria-expanded="false">
        <header class="ui-menu__header">
          <h1 class="ui-menu__title">Webmaster Actions</h1>
          <div class="ui-menu__icon">
            <span aria-hidden="true" class="oi oi-plus"></span>
            <span aria-hidden="true" class="oi oi-minus"></span>
          </div>
        </header>
      </a>
      <ul class="ui-menu__section collapse" data-parent="#side-nav" id="webmaster-actions">
        <li><a href="{{ url('admin:index') }}">Site Management (Django Admin)</a></li>
      </ul>
    </nav>
  {% endif %}
</aside>

<main class="ui-layout ui-layout--dashboard">
  <section class="container ui-layout__item">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message|safe }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
    {% block subcontent %}{% endblock %}
  </section>
</main>
{% endblock %}
