{% extends "dashboard/base.html" %}

{% block title %}Game Signup{% endblock %}

{% block pagetitle %}Signup{% endblock %}
{% block pagesubtitle %}Welcome, {{ request.user.get_full_name() }}{% endblock %}

{% block subcontent %}
<div class="card">
  <h3 class="card-header m-0">Game signup</h3>
  <form action="{{ url('game_signup') }}" method="post" class="card-body">
    {{ csrf_input }}
    <p>Signup for the {{ game.name }} game</p>

    <p>Waver goes here</p>

    <label>Do you want to be part of the OZ pool?</label>
    <input type="checkbox" name="is_oz" />
    <input type="submit" value="Signup" class="btn btn-primary">
  </form>
</div>
{% endblock %}
