{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block pagetitle %}My Dashboard{% endblock %}
{% block pagesubtitle %}Welcome, {{ request.user.get_full_name() }}{% endblock %}

{% block subcontent %}
{% if game.is_signups %}
  {% if not participant %}
    <div class="alert alert-warning show">
      You haven't signed up for the {{ game }} game.If you wish to join,
    <a href="{{ url('game_signup') }}">you can sign up here</a>.
    </div>
  {% else %}
    <div class="alert alert-success show">
      You're signed up for the {{ game }} game! {% if participant.is_player %} Your code is: {{ participant.code }}.{% endif %}
    {% if participant.is_moderator %} You're a mod!{% endif %}
    {% if participant.is_spectator %} You're signed up as a spectator!{% endif %}
    </div>
  {% endif %}
{% endif %}

<div class="ui-grid s-dashboard__game-info align-content-start">
  <div class="ui-grid align-content-start">
  {% if emails %}  
  {% if emails.exclude(player_made=True) %}
  {% call card("Mod Emails") %}
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col" />
          </tr>
          </thead>
          <tbody>
          {% for email in emails.exclude(player_made=True) %}
            <tr>
              <td data-toggle="tooltip" data-placement="top" title="{{ email.name }}">{{ email.name }}</td>
              <td>{{ email.created_at.astimezone(pytz.timezone('Canada/Eastern')).strftime("%d/%m/%Y, %H:%M") }}</td>
              <td class="d-flex">
                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target=".email-{{ email.id }}-details">
                  <i class="fas fa-info pr-1 pl-1"></i>
                </button>
                <div class="modal email-{{ email.id }}-details" tabindex="-1" role="dialog" aria-labelledby="emailDataModal" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">{{ email.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        {% autoescape off %}
                        {{ email.data }}
                        {% endautoescape %}
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
  {% endcall %}
  {% endif %}
  
  {% if emails.filter(player_made=True) %}
  {% call card("Player Emails") %}
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col" />
          </tr>
          </thead>
          <tbody>
          {% for email in emails.filter(player_made=True) %}
            <tr>
              <td data-toggle="tooltip" data-placement="top" title="{{ email.name }}">{{ email.name }}</td>
              <td>{{ email.created_at.astimezone(pytz.timezone('Canada/Eastern')).strftime("%d/%m/%Y, %H:%M") }}</td>
              <td class="d-flex">
                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target=".email-{{ email.id }}-details">
                  <i class="fas fa-info pr-1 pl-1"></i>
                </button>
                <div class="modal email-{{ email.id }}-details" tabindex="-1" role="dialog" aria-labelledby="emailDataModal" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">{{ email.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>{{ email.data }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
  {% endcall %}
  {% endif %}
  {% endif %}

    {% if not game.is_finished and participant.is_player and (participant.user.legacy_points() or ((participant.is_oz or participant.point_modifier >= 15) and participant.user.has_legacy())) %}
    {% call card("Legacy Tokens") %}
    
    {% if points_accu < points_for_permanent %}
      <p>You currently have {{ participant.user.legacy_points() }} tokens available to use! You have accumulated {{ points_accu }} tokens total and need {{ points_for_permanent - points_accu }} more tokens to achieve legacy status. You may use a legacy token to start a game either as OZ or with 15 points. If you use a token, you gain acccess to the volunteer mission and the ability to customize your player code.</p>
      {% if participant.is_oz or participant.point_modifier >= 15 %}
      <p>You are either already an OZ or have 15 points to start with.</p>
     <!-- <form action="{{ url('change_code') }}" method="post" novalidate>
        {{ csrf_input }}
  
        {% for field in change_code_form %}
          <div class="ui-form-group">
            <label class="ui-label" for="{{ field.name }}">{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
              <span class="ui-form__text ui-form__text--error">{{ error }}</span>
            {% endfor %}
          </div>
        {% endfor %}
  
        <div class="ui-form-group pt-2">
          <input class="btn btn-block btn-primary" type="submit" value="Change Code">
        </div>
      </form>-->


      {% else %}
      {% if game.is_running %}<p>The game has already started, but you can still use legacy tokens to gain 15 points</p>{% endif %}
      <table><tr>
      {% if not game.is_running %}
      <td scope="col">
      <form class="mb-0" action="{{ url('dashboard') }}" method="post">
          {{ csrf_input }}
          <input type="submit" class="btn btn-normal" value="Start as OZ" name="oz">
        </form></td>
      {% endif %}
        <td scope="col">
      <form class="mb-0" action="{{ url('dashboard') }}" method="post">
          {{ csrf_input }}
          <input type="submit" class="btn btn-normal" value="Start with 15 Points" name="pts">
        </form></td>
      </tr></table>
      {% endif %}
    {% else %}
      <p>You have successfully achieved Legacy Status! You may request to be OZ or receive 15 starting points every game prior to  game start! You will always have volunteer mission access when you choose to use these perks and can always change your code before game start!</p>
      {% if participant.is_oz or participant.score() >= 15 %}
      <p>You are either already an OZ or have 15 points to start with.</p>
      {% else %}
      <table><tr>
      <td scope="col">
      <form class="mb-0" action="{{ url('dashboard') }}" method="post">
          {{ csrf_input }}
          <input type="submit" class="btn btn-normal" value="Start as OZ" name="oz">
        </form></td>
        <td scope="col">
      <form class="mb-0" action="{{ url('dashboard') }}" method="post">
          {{ csrf_input }}
          <input type="submit" class="btn btn-normal" value="Start with 15 Points" name="pts">
        </form></td>
      </tr></table>
      {% endif %}
    {% endif %}
    {% if game.is_signups %}
    <form action="{{ url('change_code') }}" method="post" novalidate>
         {{ csrf_input }}

         {% for field in change_code_form %}
           <div class="ui-form-group">
             <label class="ui-label" for="{{ field.name }}">{{ field.label }}</label>
             {{ field }}
             {% for error in field.errors %}
               <span class="ui-form__text ui-form__text--error">{{ error }}</span>
             {% endfor %}
           </div>
         {% endfor %}

         <div class="ui-form-group pt-2">
           <input class="btn btn-block btn-primary" type="submit" value="Change Code">
         </div>
       </form>

    {% endif %}
    {% endcall %}
    {% endif %}
    
{% if game.is_signups %} {% call card("Welcome to the game!") %}

<p>The game will begin on Monday, October 24 @ midnight, and runs 24 hours a day until the end of final mission on Friday, October 28 @ 9:00 PM. If you have any friends who have never played before and would like to join, please tell them to sign up via our website. We’ve designed this game to be beginner-friendly, so any word-of-mouth advertising is greatly appreciated!</p> 
<p>We understand that there will likely be concerns around player safety, given the nature of gameplay. Below, please find the modifications made to the game in response to COVID-19. </p>
<ul>
<!--    <li><strong>All players MUST be vaccinated.</strong> Following the University of Waterloo’s COVID-19 protocols, all students, staff, alumni and campus visitors MUST submit proof of vaccination prior to entering campus. Please be sure to submit your proof of vaccination here: <a href="https://uwaterloo.ca/coronavirus/news/submit-your-proof-vaccination-today">https://uwaterloo.ca/coronavirus/news/submit-your-proof-vaccination-today</a>. If you are not a student at UWaterloo, please email us proof of your vaccination status at uwhumansvszombies@gmail.com.</li> -->
<li><strong>Face masks while playing.</strong> While the University of Waterloo has suspended its face mask requirement as of June 30th, we do encourage players to wear face masks especially when physical distancing is not possible. If players choose to wear a face mask, it should cover your nose, mouth, and chin, but not your upper half of your face and not be for purely aesthetic use, as to comply with our requirements from Campus Police. </li>
<!-- <li><strong>Mandating face masks while playing.</strong> Yes, even when you’re outside. Masks should be covering your nose, mouth, and chin. Bandanas are not acceptable masks. This is in conjunction with our no-face-covering rule, which is still required from us by Campus Police. As such, your face mask should cover your nose, mouth, chin, but not obstruct the upper half of your face.</li> -->
    <li><strong>Recommending all players to maintain physical distancing as much as possible.</strong> Again, we can’t control what you do. But we ask you to consider physical distancing with other players wherever possible.</li>
    <li><strong>Requiring a COVID-19 self-assessment prior to gameplay.</strong> The first time you sign into the website, you will be greeted with a screen asking you to complete the Ontario COVID-19 self-assessment.</li>
</ul>
<p>If you have any signs or symptoms of COVID-19, DO NOT PLAY. </p>
<p><strong>Please also note that there are some changes in rules from our typical weeklong. These changes are listed below:</strong></p>
<ul>
    <li>Buildings are once again safe from 10AM-4PM. <b>Bridges and tunnels are <i>not</i> safe zones!</b></li>
    <li>Removal of the infected human mechanic.</li>
    <li>As per a typical weeklong, unsupplied humans <b>will</b> be killed off on Friday before the final mission.</li>
    <li>Rail and building passes are reinstated as potential point rewards.</li>
</ul>
=======
    <p>We're glad to have you with us! If you have any friends who have never played before and would like to join, please ensure they sign up by 5 PM on the day before the game. Alternatively, they can contact us at uwhumansvszombies@gmail.com via email.</p>
    <p>At 11:00 PM the day before game start, you will receive an email indicating whether you are beginning the game as a HUMAN or a ZOMBIE. This email will also include information relevant for the entire weeklong, so make sure you’re checking your inbox!</p>
    <p>Throughout the game, the moderator team will be communicating to you primarily through email. Each night, an email will be sent out including the schedule and events for the next day. Main Mission details will be sent out in a separate email one hour before each Main Mission begins. Our website (right here!) will also display announcements and mission details for the day.</p>
    <p>Additional important information will also be sent over twitter through @HVZAlertSystem, which can conveniently be found right here! If you need to rent a blaster from the Humans vs Zombie Society for use in the weeklong, you can email us at uwhumansvszombies@gmail.com for more information.</p>

{% endcall %} {% endif %}

{% call card("System Requirements") %}
      <p>Currently, this website is fully supported by <b>Chrome</b>, <b>Firefox</b>, and <b>Microsoft Edge</b>. If you are not using one of these browsers, you may experience some technical issues.</p>
    {% endcall %}
  </div>
  <div class="ui-grid align-content-start">

{% if participant.is_player %}
<div class="ui-card ui-card--display">
    <div class="ui-card__header">
      <h1 class="ui-card__title">My Code</h1>
    </div>
    <div class="ui-card__header">
      <h1 class="ui-card__title"><a href="{{ url('player_code') }}">Carry-card PDF</a></h1>
    </div>
    <div class="ui-card__content">{{ participant.code }}
    </div>
</div>
{% endif %}

{% call card() %}
      <a class="twitter-timeline" height="500" href="https://twitter.com/HVZAlertSystem?ref_src=twsrc%5Etfw">Tweets by HVZAlertSystem</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endcall %}
    
    {% call card("Lifetime Stats") %}
      <p>Total Stuns: {{ stuns }}</p>
      <p>Total Kills: {{ kills }}</p>
      <p>Total Supply Codes Redeemed: {{ codes }}</p>
      <p><font style="opacity:0">You found a secret on the website! Sadly this has no in game bonus. Best of luck out there!</font></p>
    {% endcall %}
  </div>
</div>
{% endblock %}
