{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block pagetitle %}My Dashboard{% endblock %}
{% block pagesubtitle %}Welcome, {{ request.user.get_full_name() }}{% endblock %}

{% block subcontent %}
{% if game.is_signups %}
  {% if not participant %}
    <div class="alert alert-warning show">
      You haven't signed up for the {{ game }} game.If you wish to join,
    <a href="{{ url('game_signup') }}">you can sign up here</a>.
    </div>
  {% else %}
    <div class="alert alert-success show">
      You're signed up for the {{ game }} game! {% if participant.is_player %} Your code is: {{ participant.code }}.{% endif %}
    </div>
  {% endif %}
{% endif %}

<div class="ui-grid s-dashboard__game-info align-content-start">
  <div class="ui-grid align-content-start">
  
    {% if not game.is_finished and participant and participant.user.legacy_points() %}
    {% call card("Legacy Tokens") %}
    
    {% if points_accu < points_for_permanent %}
      <p>You currently have {{ participant.user.legacy_points() }} tokens available to use! You have accumulated {{ points_accu }} tokens total and need {{ points_for_permanent - points_accu }} more tokens to achieve legacy status. You may use a legacy token to start a game either as OZ or with 15 points. If you use a token, you gain acccess to the volunteer mission.</p>
      {% if participant.is_oz or participant.point_modifier >= 15 %}
      <p>You are either already an OZ or have 15 points to start with.</p>
      {% else %}
      {% if game.is_running %}<p>The game has already started, but you can still use legacy tokens to gain 15 points</p>{% endif %}
      <table><tr>
      {% if not game.is_running %}
      <td scope="col">
      <form class="mb-0" action="{{ url('dashboard') }}" method="post">
          {{ csrf_input }}
          <input type="submit" class="btn btn-normal" value="Start as OZ" name="oz">
        </form></td>
      {% endif %}
        <td scope="col">
      <form class="mb-0" action="{{ url('dashboard') }}" method="post">
          {{ csrf_input }}
          <input type="submit" class="btn btn-normal" value="Start with 15 Points" name="pts">
        </form></td>
      </tr></table>
      {% endif %}
    {% else %}
      <p>You have succesfully achieved Legacy Status! You may request to be OZ or receive 15 starting points every game prior to every game start! You will always have volunteer mission access when you choose to use these perks!</p>
      {% if participant.is_oz or participant.score() >= 15 %}
      <p>You are either already an OZ or have 15 points to start with.</p>
      {% else %}
      <table><tr>
      <td scope="col">
      <form class="mb-0" action="{{ url('dashboard') }}" method="post">
          {{ csrf_input }}
          <input type="submit" class="btn btn-normal" value="Start as OZ" name="oz">
        </form></td>
        <td scope="col">
      <form class="mb-0" action="{{ url('dashboard') }}" method="post">
          {{ csrf_input }}
          <input type="submit" class="btn btn-normal" value="Start with 15 Points" name="pts">
        </form></td>
      </tr></table>
      {% endif %}
    {% endif %}
    
    {% endcall %}
    {% endif %}
    
    {% call card("System Requirements") %}
      <p>Currently, this website is fully supported by <b>Chrome</b>, <b>Firefox</b>, and <b>Microsoft Edge</b>. If you are not using one of these browsers, you may experience some technical issues.</p>
    {% endcall %}
    {% call card("Welcome to the website!") %}
      <p>This website is still fairly new, and may need some tweaking here and there as we polish it. Please be patient with us while this happens.</p>
      <p>If you'd like to report some bugs or give us general feedback on the website, contact the mods at <a href="mailto:uwhumansvszombies@gmail.com">uwhumansvszombies@gmail.com</a> and let us know what you think.</p>
      <p>Alternatively, if you'd like to contribute to the website yourself, you can find us over at <a href="https://github.com/uwhumansvszombies/uwhvz">GitHub</a>.</p>
    {% endcall %}
  </div>
  <div class="ui-grid align-content-start">
    {% call card() %}
      <a class="twitter-timeline" height="500" href="https://twitter.com/HVZAlertSystem?ref_src=twsrc%5Etfw">Tweets by HVZAlertSystem</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endcall %}
  </div>
</div>
{% endblock %}
