{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block pagetitle %}Dashboard{% endblock %}
{% block pagesubtitle %}Welcome, {{ request.user.get_full_name() }}{% endblock %}

{% block subcontent %}
<div id="dashboard-index">
  <div id="dashboard-info">
    {{ card('My Code', player.code, 'ui-card--padded ui-card--display', 'card--code') }}
    {{ card('My Score', player.score(), 'ui-card--display', 'card--score') }}
    {{ card('Team', player.role, 'ui-card--display', 'card--team') }}
    {{ card('Team Score', team_score, 'ui-card--display', 'card--teamscore') }}
  </div>

  {% call card('Report Tag', class='ui-card--padded') %}
    <form action="{{ url('report_tag') }}" method="post">
      {{ csrf_input }}
      <div class="ui-form-group">
        <label class="ui-label">Other Player's Code</label>
        <input class="ui-input" type="text" name="player_code" placeholder="e.g. A1B2C3">
      </div>
      <div class="ui-form-group">
        <label class="ui-label">Date of Tag</label>
        <input class="ui-input" type="date" name="date">
      </div>
      <div class="ui-form-group">
        <label class="ui-label">Time</label>
        <input class="ui-input" type="time" name="time">
      </div>
      <div class="ui-form-group">
        <label class="ui-label">Location (optional)</label>
        <input class="ui-input" type="text" name="location" placeholder="e.g. RCH, DC Green">
      </div>
      <div class="ui-form-group">
        <label class="ui-label">Description (optional)</label>
        <textarea class="ui-input" rows="5" name="description" placeholder="Tell us how you tagged the player!"></textarea>
      </div>
      <div class="ui-form-group text-center pt-2">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </form>
  {% endcall %}

  {% call card('Redeem Supply Code', class="ui-card--padded", id='card--supplycode') %}
    <form action="{{ url('claim_supply_code') }}" method="post">
      {{ csrf_input }}
      <div class="ui-form-group">
        <input class="ui-input" type="text" name="supply_code" placeholder="e.g. A1B2C3">
      </div>
      <div class="ui-form-group text-center pt-2">
        <input class="btn btn-primary" type="submit" value="Redeem">
      </div>
    </form>
  {% endcall %}

{% endblock %}
