{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block title %}Dashboard &mdash; Player Info{% endblock %}

{% block pagetitle %}
  {% if game.is_running %}{{ game.name }} &mdash; {% endif %}Game Information
{% endblock %}
{% block pagesubtitle %}{{ player.user.get_full_name() }} &mdash; Player Dashboard{% endblock %}

{% block subcontent %}

{% if game is defined and game is not none and game.is_running %}
  {% if not player.is_spectator %}
    <div class="ui-grid s-dashboard__index">
      <div class="ui-grid">
        {{ card('My Code', player.code, 'ui-card--display') }}
        {{ card('My Score', player.score(), 'ui-card--display') }}
        {{ card('Team', player.role, 'ui-card--display') }}
        {{ card('Team Score', team_score, 'ui-card--display') }}
      </div>

      {% if player.is_human %}
        {% set report_name = 'Stun' %}
      {% else %}
        {% set report_name = 'Tag' %}
      {% endif %}
      {% call card('Report ' + report_name) %}
        <form action="{{ url('report_tag') }}" method="post" novalidate>
          {{ csrf_input }}

          {% for field in report_tag_form %}
            <div class="ui-form-group">
              <label class="ui-label" for="{{ field.name }}">{{ field.label }}</label>
              {{ field }}
              {% for error in field.errors %}
                <span class="ui-form__text ui-form__text--error">{{ error }}</span>
              {% endfor %}
            </div>
          {% endfor %}

          <div class="ui-form-group pt-2 text-center">
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
        </form>
      {% endcall %}

      {% if player.is_human %}
        <div class="ui-grid align-content-start">
          {% call card('Redeem Supply Code') %}
          <form action="{{ url('claim_supply_code') }}" method="post" novalidate>
            {{ csrf_input }}

            {% for field in claim_supply_code_form %}
              <div class="ui-form-group">
                {{ field }}
                {% for error in field.errors %}
                  <span class="ui-form__text ui-form__text--error">{{ error }}</span>
                {% endfor %}
              </div>
            {% endfor %}
            
            <div class="ui-form-group pt-2 text-center">
              <input class="btn btn-primary" type="submit" value="Redeem">
            </div>
          </form>
        {% endcall %}

        {% if player.has_faction %}
          {% call card('Faction Information') %}
            <p>You are part of the <span class="font-weight-bold text-uppercase">{{ player.faction.name }}</span> faction.</p>
            {% if player.faction.description %}<p>{{ player.faction.description }}</p>{% endif %}
          {% endcall %}
        {% endif %}
        </div>
      {% endif %}
    </div>
  {% else %}
  <div class="ui-text-container">
    {% call card('You are a spectator.') %}
      <p>As a spectator, you cannot access any actions that affect the game (reporting stuns/tags, redeeming supply codes, etc.). However, please feel free to check out some of the other pages on the sidebar.</p>
    {% endcall %}
  </div>
  {% endif %}
{% elif game is defined and game is not none and game.is_active %}
  <div class="ui-text-container text-center">
    {% call card('The game hasn\'t started yet.') %}
      <p>You will be able to access your player information when the game starts. Please be patient for now, and come back when the game has started!</p>
    {% endcall %}
  </div>
{% else %}
  <div class="ui-text-container text-center">
    {% call card('The last game is over, and a new game hasn\'t been announced yet. :(') %}
      <p>Please come back later when there is notice of a game.</p>
    {% endcall %}
  </div>
{% endif %}

{% endblock %}
