{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block title %}Dashboard - Player List{% endblock %}

{% block pagetitle %}
  {% if game.is_running %}{{ game.name }} - {% endif %}Player List
{% endblock %}
{% block pagesubtitle %}View Players{% endblock %}

{% block subcontent %}
  {% call card('Player List') %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
      <tr>
        <td scope="col">{{ player.user.get_full_name() }}</td>
        <td scope="col">{{ player.user.email }}</td>
        <td scope="col">{{ player.role if player.is_spectator else 'Player' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endcall %}
{% endblock %}
