{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block title %}Dashboard &mdash; Player Info{% endblock %}

{% block pagetitle %}
  {{ game }} &mdash; Game Information
{% endblock %}
{% block pagesubtitle %}{{ participant }} &mdash; Player Dashboard{% endblock %}

{% block subcontent %}
<div class="ui-grid s-dashboard__index">
  <div class="ui-grid">
    {{ card("My Code", participant.code, "ui-card--display") }}
    {{ card("My Score", participant.shop_score(), "ui-card--display") }}
    {{ card("Team", participant.role, "ui-card--display") }}
    {{ card("Team Score", team_score, "ui-card--display") }}
  </div>

  {% if participant.is_human %}
    {% set report_name = "Stun" %}
  {% else %}
    {% set report_name = "Tag" %}
  {% endif %}
  {% call card("Report " + report_name) %}
    <form action="{{ url('report_tag') }}" method="post" novalidate>
      {{ csrf_input }}

      {% for field in report_tag_form %}
        <div class="ui-form-group">
          <label class="ui-label" for="{{ field.name }}">{{ field.label }}</label>
          {{ field }}
          {% for error in field.errors %}
            <span class="ui-form__text ui-form__text--error">{{ error }}</span>
          {% endfor %}
        </div>
      {% endfor %}

      <div class="ui-form-group pt-2">
        <input class="btn btn-block btn-primary" type="submit" value="Submit">
      </div>
    </form>
  {% endcall %}

  {% if participant.is_human %}
    <div class="ui-grid align-content-start">
      {% call card("Redeem Supply Code") %}
      <form action="{{ url('claim_supply_code') }}" method="post" novalidate>
        {{ csrf_input }}

        {% for field in claim_supply_code_form %}
          <div class="ui-form-group">
            {{ field }}
            {% for error in field.errors %}
              <span class="ui-form__text ui-form__text--error">{{ error }}</span>
            {% endfor %}
          </div>
        {% endfor %}

        <div class="ui-form-group pt-2">
          <input class="btn btn-block btn-primary" type="submit" value="Redeem">
        </div>
      </form>
    {% endcall %}

    {% if participant.has_faction %}
      {% call card("Faction Information") %}
        <p>You are part of the <span class="font-weight-bold text-uppercase">{{ participant.faction.name }}</span> faction.</p>
        {% if participant.faction.description %}{{ participant.faction.description|safe }}{% endif %}
      {% endcall %}
    {% endif %}
    </div>
  {% endif %}
</div>
{% endblock %}
