{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block title %}Dashboard &mdash; Player List{% endblock %}

{% block pagetitle %}
  {{ game }} &mdash; Game Information
{% endblock %}
{% block pagesubtitle %}View Player List{% endblock %}

{% block subcontent %}
{% call card("Player List") %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      {%- if participant.is_moderator %}
      <th scope="col">Email</th>
      {% endif -%}
      <th scope="col">Role</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    {% for p in participants %}
    <tr>
      <td scope="col">{% if p.is_moderator and p.character_name %}{{ p.character_name }}{% else %}{{ p.user.get_full_name() }}{% endif %}</td>
      {%- if participant.is_moderator %}
      <td scope="col">{{ p.user.email }}</td>
      {% endif -%}
      <td scope="col">
        {%- if p.is_player and participant.is_player and participant.is_human %}
          Player
        {% else %}
          {%- if p.is_player %}{{ p.role }}{% else %}{{ p.type }}{% endif -%}
        {% endif -%}</td>
        <td scope="col">{% if p.is_player and p.is_score_public %}{{ p.score() }}{% elif p.is_player %}Hidden
        {% elif p.is_moderator and p.score %}{{ p.score }}{% else %}N/A{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endcall %}
{% endblock %}
