{% extends "dashboard/base.html" %}

{% block title %}Signup Locations{% endblock %}

{% block pagetitle %}Moderator Actions{% endblock %}
{% block pagesubtitle %}Track Signups{% endblock %}

{% block subcontent %}
<h3>Signup Locations</h3>

<table>
  <thead>
  <tr>
    <th>Location</th>
    <th>Number of emails sent</th>
    <th>Number of emails acted upon</th>
  </tr>
  </thead>
  <tbody>
  {% for location in signup_locations %}
  <tr>
    <td>{{ location.name }}</td>
    <td>{{ location.signuptoken_set.count() }}</td>
    <td>{{ location.signuptoken_set.filter(used_at__isnull=True).count() }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
