{% extends "dashboard/base.html" %}

{% block title %}Dashboard &mdash; Zombie Tree{% endblock %}

{% block additional_styles %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" integrity="sha256-iq5ygGJ7021Pi7H5S+QAUXCPUfaBzfqeplbg/KlEssg=" crossorigin="anonymous">
{% endblock %}

{% block pagetitle %}
  {% if game.is_running %}{{ game }} &mdash; {% endif %}Game Information
{% endblock %}
{% block pagesubtitle %}View Zombie Tree{% endblock %}

{% block subcontent %}

<div id="zombie-tree"></div>

{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js" integrity="sha256-JuQeAGbk9rG/EoRMixuy5X8syzICcvB0dj3KindZkY0=" crossorigin="anonymous"></script>
  <script>
    var container = document.getElementById('zombie-tree');

    var data = {
      nodes: {{ nodes|safe }},
      edges: {{ edges|safe }},
    };

    var options = {
      nodes: {
        shape: 'ellipse',
        size: 20,
        font: {
          size: 16,
          color: '#000',
        },
        borderWidth: 1
      },
      edges: {
        width: 1.5,
        arrows: {
          to: {
            enabled: true,
            scaleFactor: 0.75,
            type: 'arrow'
          },
        },
      },
      groups: {
        0: {
          color: {
            background: '#032E04',
            border: '#032E04'
          },
          font: {
            color: '#fff'
          }
        },
        1: {
          color: {
            background: '#145706',
            border: '#145706'
          },
          font: {
            color: '#fff'
          }
        },
        2: {
          color: {
            background: '#27A333',
            border: '#27A333'
          },
          font: {
            color: '#fff'
          }
        },
        3: {
          color: {
            background: '#60DB6C',
            border: '#60DB6C'
          },
        },
        4: {
          color: {
            background: '#60DB6C',
            border: '#60DB6C'
          },
        }
      }
    };
    network = new vis.Network(container, data, options);
  </script>
{% endblock %}
