//// 
/// Global styling.
////

// Utilities
@import 'base/utilities';
@import 'base/border-radius';
@import 'base/breakpoints';
@import 'base/colors';
@import 'base/shadows';
@import 'base/spacing';
@import 'base/z-index';

@import 'base/layout';
@import 'base/typography/utilities';

// Fonts
// @import 'fonts/iconic/iconic';

// Foundation
@import 'base/normalize';
@import 'base/foundation';
@import 'base/typography/typography';

// Components - Layout
@import 'components/layout/layout';
@import 'components/layout/stack';
@import 'components/layout/grid';
@import 'components/layout/table';

// Components - General
@import 'components/card';
@import 'components/input';

// Site-specific
@import 'components/logo';

// Page specific
@import 'components/dashboard/titlebar';
@import 'components/dashboard/sidebar';

// pages
@import 'site/dashboard/index';
