{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block title %}Signup Players{% endblock %}

{% block pagetitle %}{{ game.name }} - Moderator Actions{% endblock %}
{% block pagesubtitle %}Signup Players{% endblock %}

{% block subcontent %}

<div class="ui-grid s-dashboard__player-list">
  <div class="ui-grid">
    {% call card('Add Player to ' + game.name, id='card--add-player') %}
      <form method="post">
        {{ csrf_input }}
        <div class="ui-form-group">
          <label class="ui-label">Email:</label>
          <input class="ui-input" type="email" name="email">
        </div>
        <div class="ui-form-group">
          <label class="ui-label">Location:</label>
          <select class="custom-select" name="signup_location">
            {% for location in signup_locations %}
              <option value="{{ location.id }}">{{ location.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="ui-form-group pt-2 text-center">
          <input type="submit" value="Signup" class="btn btn-primary">
        </div>
      </form>
    {% endcall %}
  </div>

  {% call card('Signup Locations') %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Location</th>
        <th scope="col">Number of emails sent</th>
        <th scope="col">Number of emails acted upon</th>
      </tr>
      </thead>
      <tbody>
      {% for location in signup_locations %}
      <tr>
        <td scope="col">{{ location.name }}</td>
        <td scope="col">{{ location.signupinvite_set.count() }}</td>
        <td scope="col">{{ location.signupinvite_set.filter(used_at__isnull=False).count() }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endcall %}
</div>

{% endblock %}
