{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block title %}Signup Players{% endblock %}

{% block pagetitle %}{{ game }} &mdash; Volunteer Actions{% endblock %}
{% block pagesubtitle %}Signup Players{% endblock %}

{% block subcontent %}
<div class="ui-grid s-dashboard__player-list">
  <div class="ui-grid align-content-start">
    {% call card("Add Player to " + game.name, id="card--add-player") %}
      <form method="post">
        {{ csrf_input }}

        {% for field in volunteer_signup_player_form %}
        <div class="ui-form-group">
          <label class="ui-label" for="{{ field.name }}">{{ field.label }}</label>
          {{ field }}
          {% for error in field.errors %}
            <span class="ui-form__text ui-form__text--error">{{ error }}</span>
          {% endfor %}
        </div>
        {% endfor %}

        <div class="ui-form-group pt-2 text-center">
          <input type="submit" value="Signup" class="btn btn-block btn-primary">
        </div>
      </form>
    {% endcall %}
  </div>

  {% call card("Signup Locations") %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Location</th>
        <th scope="col">Emails sent</th>
        <th scope="col">Emails acted on</th>
      </tr>
      </thead>
      <tbody>
      {% for location in signup_locations %}
      <tr>
        <td scope="col">{{ location.name }}</td>
        <td scope="col">{{ location.signupinvite_set.count() }}</td>
        <td scope="col">{{ location.signupinvite_set.filter(used_at__isnull=False).count() }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endcall %}
</div>
{% endblock %}
