<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav>
    <a href="{% url 'index' %}">UW Humans vs Zombies</a>
    <ul>
        <li>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </li>
    </ul>
</nav>

<div>
    <div>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="{% url 'player list' %}">Player List</a>
                    </li>
                    <li>
                        <a href="{% url 'add player' %}">Add Player</a>
                    </li>
                    <li>
                        <a href="{% url 'signup locations' %}">Signup Locations</a>
                    </li>
                    <li>
                        <a href="#">Manage OZ List</a>
                    </li>
                    <li>
                        <a href="#">Generate Supply Codes</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</div>
</body>
</html>
