{% extends "moderator/base.html" %}

{% block title %}Signup Locations{% endblock %}

{% block pagesubtitle %}Track Signups{% endblock %}

{% block modcontent %}
<h3>Signup Locations</h3>

<table>
    <thead>
    <tr>
        <th>Location</th>
        <th>Number of Signups</th>
    </tr>
    </thead>
    <tbody>
    {% for location in signup_locations %}
    <tr>
        <td>{{ location.location }}</td>
        <td>{{ location.player_set.count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
