////
/// Site-specific classes for the dashboard/index page live here.
/// @group site, @page dashboard/index
//// 

.s-dashboard__index {
  grid-template-columns: 1fr 2fr 2fr;
}

.s-dashboard__game-info,
.s-dashboard__manage-oz {
  grid-template-columns: 2fr 2fr;
}

.s-dashboard__generate-supply,
.s-dashboard__player-list {
  grid-template-columns: 1fr 2fr;
}

.s-dashboard__signup-players {
  grid-template-columns: 0.75fr 1.25fr;
}

.s-dashboard__game-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.faction-name {
  font-family: ff('body');
  font-size: 1.25rem;
  font-weight: $fw-regular;
  margin-bottom: 0.5em;
}
