#landing {
  height: auto;
  display: block;
  position: relative;
  background-color: color(ink);
  color: color(sky);
  
  .ui-layout__item {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  h1 {
    font-family: ff('title');
    color: color(sky);
    text-align: center;
    letter-spacing: 0.05em;
  }

  .logo--club {
    width: 30vw;
  }
}

#landing-nav {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background: color(black);
  box-shadow: shadow(dark, titlebar);
  z-index: 99;

  nav {
    width: 100%;
    display: flex;
    margin-left: 2rem;

    ul {
      padding: 0;
      margin: 0;
    }

    a {
      font-size: 1.25rem;
      line-height: 1;
      font-family: ff('heading');
    }
  }

  .sitelogo {
    margin-left: 2rem;
  }

  .actions {
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;

    .btn {
      margin: 0 spacing(tighter);
    }
  }
}

#countdown {
  width: 50vw;
  max-width: 50vw;
  display: inline-grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 2rem;
}

#intro {
  .ui-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

#signup-schedule {
  background: color(ink, light);
  transform: skewY(-3deg) translateY(-3rem);

  .ui-section {
    transform: skewY(3deg);
  }

  .table-dark {
    background: color(ink);
    color: color(sky);
    border-color: color(ink) !important;

    th, td {
      padding: spacing(looser);
    }
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
  }
}
