#landing {
  height: auto;
  display: block; position: relative;
  background: color(ink);
  color: color(sky);

  .ui-layout__item {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  h1 {
    font-family: ff('title');
    color: color(sky);
    text-align: center;
    letter-spacing: 0.05em;
  }

  .logo--club {
    width: 30vw;
  }
}

#countdown {
  width: 50vw;
  max-width: 50vw;
  display: inline-grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 2rem;
}

#intro {
  .ui-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

#signup-schedule {
  background: color(ink, light);
  transform: skewY(-3deg) translateY(-3rem);

  .ui-section {
    transform: skewY(3deg);
  }

  .table-dark {
    background: color(ink);
    color: color(sky);
    border-color: color(ink) !important;

    th, td {
      padding: spacing(looser);
    }
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
  }
}

#mailing-list {
  background: color(light);
  font-family: ff('body');

  #mc_embed_signup {
    width: 50%;
  }
}

.start {
  font-size: 3rem;
  line-height: 1.25;
}

.full-height {
  min-height: 100vh;
}

.ui-layout {
  padding-top: 6rem;
}

footer {
  padding: 2em 0;
  text-align: center;

  .privacy-policy {
    color: #bfbfbf;
    text-decoration: underline;
  }
}

