#landing-mobile {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-color: color(ink);
  color: color(sky);
  text-align: center;
}

#landing-logo {
  max-width: 20rem;
  margin: 0 auto;
}
