ul {
  list-style-type: none;
}

.ui-layout > .ui-sidebar {
  border-color: color(ink, light);
  min-width: 14vw;
  max-width: 14vw;
}

.prev-games-list {
  padding: 0 spacing(loose);
}

.prev-games-list > input {
  color: color(white);
}

.prev-games-title {
  padding: spacing(loose);
}

.game-summary {
  @media (min-width: 992px) {
    margin-left: 14vw;
  }
}

.game-summary > #zombie-tree {
  height: 75%;
}

.previous-game {
  @include type-heading
  text-decoration: none;
  text-align: left;
  background: none;
  font-size: 1.2rem;
  color: color(gray, 'lighter');
  border: none;
}

.previous-game:hover {
  text-decoration: underline;
}

.game-select-mobile {
  text-align: center;
}
