{% from "components/card.html" import card %}
{% extends "registration/base.html" %}

{% block title %}Game Signup{% endblock %}

{% block subcontent %}
  <div class="row">
    <div class="col-lg-4 mx-auto">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      {% endif %}
      {% if game.is_running %}
        {% if player_role is none %}
          {% call card("The game is already running.") %}
          <p>You can no longer sign up for the game since the game is now running. Please speak to the moderators if you wish to spectate the game.</p>
          {% endcall %}
        {% else %}
          {% call card(game.name + " Game Signup") %}
          <form action="{{ url('game_signup') }}" method="post">
            {{ csrf_input }}
            <p>You will be joining the {{ game.name }} game as a <span class="text-uppercase font-weight-bold">{{ player_role }}</span>. To finish signing up, please read and agree to our waiver first.</p>
            <div class="pb-3 text-center">
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#waiverModal">Read Waiver</button>
            </div>
            <div class="ui-form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="accept_waiver" name="accept_waiver">
                <label class="custom-control-label ui-label" for="accept_waiver">I have read and accepted the terms listed in the waiver.</label>
              </div>
            </div>
            <div class="ui-form-group pt-2 text-center">
              <input type="submit" value="Signup" class="btn btn-primary">
            </div>
          </form>
          {% endcall %}
        {% endif %}
      {% elif game.is_active or not player_role is none %}
        {% call card(game.name + " Game Signup") %}
        <form action="{{ url('game_signup') }}" method="post">
          {{ csrf_input }}
          <p>In order to finish signing up for the {{ game.name }} game, please read and agree to our waiver.</p>
          <div class="pb-3 text-center">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#waiverModal">Read Waiver</button>
          </div>
          <div class="ui-form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="accept_waiver" name="accept_waiver">
              <label class="custom-control-label ui-label" for="accept_waiver">I have read and accepted the terms listed in the waiver.</label>
            </div>
          </div>
          <div class="ui-form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="is_oz" name="is_oz">
              <label class="custom-control-label ui-label" for="is_oz">Do you want a chance to start off as a zombie?</label>
            </div>
          </div>
          <div class="ui-form-group pt-2 text-center">
            <input type="submit" value="Signup" class="btn btn-primary">
          </div>
        </form>
        {% endcall %}
      {% else %}
        {% call card("There is no game announced for the term right now.") %}
          <p>Please check back later.</p>
        {% endcall %}
      {% endif %}
    </div>
  </div>

  <div class="modal fade" id="waiverModal" tabindex="-1" role="dialog" aria-labelledby="waiverModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">UW Humans vs Zombies Waiver</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>I acknowledge that the UWaterloo Humans vs. Zombies Club and the Federation of Students are not responsible for any injuries I may incur during play. I am completely responsible for my own safety, and the consequence for actions I take are on me and the other directly involved.</p>
          <p>I acknowledge that the UWaterloo Humans vs. Zombies Club and the Federation of Students are not responsible for any property I may lose while playing the game (e.g. Nerf darts).</p>
          <p>I acknowledge that my email address will be released to the mod team and other players, and that I may receive e-mails from Humans vs. Zombies during the game.</p>
          <p>I acknowledge that Humans vs. Zombies may take and share photos of me during the game.</p>
          <p>I have read and understood the rules, and agree to abide to them.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
