{% from "components/card.html" import card %}
{% extends "registration/base.html" %}

{% block title %}Login{% endblock %}

{% block subcontent %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
  <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
  {% else %}
  <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

{% call card('Login') %}
<form action="{{ url('login') }}" method="post">
  {{ csrf_input }}
  <div class="ui-form-group">
    <label class="ui-label">Email</label>
    <input class="ui-input" type="text" name="username">
  </div>
  <div class="ui-form-group">
    <label class="ui-label">Password</label>
    <input class="ui-input" type="password" name="password">
  </div>
  <div class="ui-form-group pt-2 text-center">
    <input class="btn btn-primary" type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}"/>
  </div>
</form>
<a class="d-block text-center" href="{{ url('password_reset') }}">Lost password?</a>
{% endcall %}

{% endblock %}
