{% from "components/card.html" import card %}
{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}

{% call card('Reset Password') %}
<form method="post">
  {{ csrf_input }}
  <div class="ui-form-group">
    {{ form.email.errors }}
    <label class="ui-label" for="id_email">Email:</label>
    {{ form.email }}
  </div>
  <div class="ui-form-group pt-2 text-center">
    <input type="submit" class="btn btn-primary" value="Reset password"/>
  </div>
</form>
{% endcall %}

{% endblock %}
