{% from "components/card.html" import card %}
{% extends "registration/base.html" %}

{% block title %}Password Reset{% endblock %}

{% block subcontent %}

{% if form.email.errors %}
  <p>We couldn't find an account associated with that email address.</p>
{% endif %}

{% call card('Reset Password') %}
<form method="post">
  {{ csrf_input }}
  <div class="ui-form-group">
    <label class="ui-label" for="email">Email</label>
    <input class="ui-input" type="text" name="email">
    {{ form.email }}
  </div>
  <div class="ui-form-group pt-2 text-center">
    <input type="submit" class="btn btn-primary" value="Reset password"/>
  </div>
</form>
{% endcall %}

{% endblock %}
