{% from "components/card.html" import card %}
{% extends "registration/base.html" %}

{% block title %}Password Reset Confirm{% endblock %}

{% block subcontent %}

<div class="row">
  <div class="col-lg-4 mx-auto">
    {% if validlink %}
      {% call card("Create New Password") %}
        <p>Please enter (and confirm) your new password.</p>
        <form method="post">
          {{ csrf_input }}
          <div class="ui-form-group">
            <span>{{ form.new_password1.errors }}</span>
            <label class="ui-label" for="id_new_password1">New password</label></td>
            <input class="ui-input" type="password" name="new_password1">
          </div>
          <div class="ui-form-group">
            <span>{{ form.new_password2.errors }}</span>
            <label class="ui-label" for="id_new_password2">Confirm password</label></td>
            <input class="ui-input" type="password" name="new_password2">
          </div>
          <div class="ui-form-group pt-2 text-center">
            <input class="btn btn-block btn-primary" type="submit" value="Change my password">
          </div>
        </form>
      {% endcall %}
    {% else %}
      <h1>The password reset failed.</h1>
      <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
