{% from "components/card.html" import card %}
{% extends "registration/base.html" %}

{% block title %}User Signup{% endblock %}

{% block subcontent %}

{% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message|safe }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
{% endif %}

{% call card('Signup') %}
  <form action="{{ url('user_signup', kwargs={'signup_invite': signup_invite}) }}" method="post">
    {{ csrf_input }}
    <div class="ui-form-group">
      <label class="ui-label">First Name</label>
      <input class="ui-input" type="text" name="first_name">
    </div>
    <div class="ui-form-group">
      <label class="ui-label">Last Name</label>
      <input class="ui-input" type="text" name="last_name">
    </div>
    <div class="ui-form-group">
      <label class="ui-label">Password</label>
      <input class="ui-input" type="password" name="password1">
    </div>
    <div class="ui-form-group">
      <label class="ui-label">Confirm Password</label>
      <input class="ui-input" type="password" name="password2">
    </div>
    <div class="ui-form-group pt-2 text-center">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </form>
{% endcall %}

{% endblock %}
