{% load static %}

<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="preload" as="font" type="font/woff" href="{% static 'fonts/komu/komu-regular.woff' %}" crossorigin>
    <link rel="preload" as="font" type="font/woff" href="{% static 'fonts/roboto/roboto-regular.woff' %}" crossorigin>
    <link rel="preload" as="font" type="font/woff" href="{% static 'fonts/roboto-condensed/roboto-condensed-regular.woff' %}" crossorigin>
    {% block styles %}{% endblock %}
  </head>
  <body>
    <header class="site-header">
      <h1 class="site-logo">
        <a href="{% url 'index' %}">UWaterloo <span class="text-highlight--human">Humans</span> vs <span class="text-highlight--zombie">Zombies</span></a></h1>
      <nav class="site-navigation">
        {% block navigation %}{% endblock %}
      </nav>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
